# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Dataset (if large)
data/
*.csv
*.pkl
*.pickle

# Models (if large)
models/
*.pth
*.bin
*.h5
*.pt

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db